<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@order) do |f| %>
    	<%= render 'shared/error_messages', :object =>f.object %>

    	<%= f.label :issue %>
    	<%= f.text_field :issue %>

    	<%= f.label :description %>
    	<%= f.text_field :description %>

    	<%= f.label :time, "Time You Are Available" %>
    	<%= f.text_field :time %>

        <%= f.label :status %>
        <%= f.check_box :status %><br /><br />

      <%= f.submit "Create my order", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>