<div id="top">
	<div class="image" id="background" align="center">
	</div>	
</div>
<div id="bottom">
	<div id="leftside">
		<p class="righty">announcements</p>
		<div id="announcements">
		TESTER TIME!	
			<% if signed_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="users_path" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
        <% end %>

		</div>
		<p class="righty">about the club</p>
		<div id="about">
		Techmasters is the on-campus technology group for Phillips Academy Andover. We were founded in 2005 by a dedicated group of students that wanted to bring Phillips Acadmy into the 21st century. This website currently functions as the main source of technology help.
		</div>
		<p class="righty">tutorials</p>
		<div id="tutorials">
					
				<a href="home.html" class="mainlink">Home</a><br />
						
				<button class="linkbutton">Ruby Tutorials</button>
				<p class="linkie">
					Coming soon!
				</p><br />
						
				<button class="linkbutton">HTML Tutorials</button>
				<p class="linkie">
					Coming soon!
				</p><br />
						
				<button class="linkbutton">Windows Vista Tutorials</button>
				<p class="linkie">
					Coming soon!
				</p><br />
		</div>
	</div>
	<div id="rightside">
		<div id="rightcontent"
		<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %>
      	<%= yield %>
		</div>
	</div>
</div>